@font-face {
    font-family: RopaSans; /* Имя шрифта */
    src: url(../fonts/RopaSansRegular.ttf); /* Путь к файлу со шрифтом */
}

body{
    margin: 0;
    padding: 0;
}


header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: 210px;
    margin-bottom: 15px;
    background-color: #B9FF8E;
    color: white;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}

.header__img {
    display: inline-block;
    width: 146px;
    height: 146px;
    margin-left: 100px;
    margin-top: 30px;
    border: 0.5px solid black;
    border-radius: 100%;
}

.header__text__title {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 60px;
    font-weight: 400;
}

.header__text__subtitle {
    margin: 0;
    font-weight: bold;
}

:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --color-primary: #B9FF8E;
    --color-secondary: white;
    --space: 1rem;
}

.nav__buttons {
    display: flex;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.nav__buttons .nav__button__button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
            calc(var(--space) / 1.125)
            var(--space)
            var(--space);
    border: var(--border-size) solid #6dff13;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    transition: flex-grow var(--duration) var(--ease);
}

.nav__buttons .nav__button__button + .nav__button__button {
    border-left: var(--border-size) solid #6dff13;
    margin-left: calc(var(--border-size) * -1);
}

.nav__buttons .nav__button__button:hover,
.nav__buttons .nav__button__button:focus {
    flex-grow: 2;
    color: #6dff13;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
}

.nav__buttons .nav__button__button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
}

.nav__buttons .nav__button__button:hover .nav__button__button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

.nav__buttons .nav__button__button:active {
    transform: translateY(var(--border-size));
}


.blockButton a{
    display: inline-block;
    text-align: center;
    font-size: 30px;
    width: 23%;
    padding: 1%;
    text-decoration: none;
}


.blockButton .category{
    float: left;
}

.blockButton .category .circle{
    padding: 1% 4% 1% 4%;
    border-radius: 100%;
}

.blockButton .adminControl{
    float: right;
}

.line{
    height: 1px;
}



/* STRUCTURE */
.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
    padding: 30px;
}

.column {
    flex: 1;
    box-shadow: black 0 4px 6px;
    margin: 15px 10px 15px 10px;
    min-width: 30%;
    cursor: pointer;
    z-index: 1;
}

.column .hide{
    display: inline-block;
    position: relative;
    width: 100%;
    background: #ffffff;
    text-align: center;
    font-size: 20px;
    z-index: -1;
    padding: 5px 0 5px 0;
    top:-100px;
    display: none;
}

.column:hover .hide{

}



@media screen and (max-width: 980px) {
    .content .column {
        margin-bottom: 5px;
        flex-basis: 40%;
    }
    .columns .column:nth-last-child(2) {
        margin-right: 0;
    }
    .content .column:last-child {
        flex-basis: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 680px) {
    .content .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}

.content .image{
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #ababab;
}


.content .column .image img{
    height: 150px;
}

.content .column .name{
    text-align: center;
    margin-top: 2px;
    font-size: 25px;
}
.content .column .name span{
    border-bottom: 2px solid black;
    padding: 1px 15px 5px 15px;
}

.content .column .info{
    padding: 10px;
    margin-top: 15px;
}

.content .column .info .left,
.content .column .info .right{
    width: 50%;
}

.content .column .info .left{
    border-left: 2px solid gold;
    padding-left: 5px;
}


.content .column .info .right {
}

.content .column .info .right img{
    width: 100%;
}

.content .column .description{
    padding: 5px 10px 10px;
}

.content .column .footerElement{
    margin-top: 20px;
}

.light .content .column .footerElement a.left{
    display: inline-block;
    padding: 10px 40px 10px 40px;
}

.content .column .footerElement a{
    text-decoration: none;
    float: left;
}

.content .column .footerElement .right{
    float: right;
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px 0 10px;
    font-size: 20px;
}


footer {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 100%;
    background-color: #B9FF8E;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}

.footer__title__img {
    width: 45px;
    margin-left: 50px;
    margin-top: 30px;
    border: 0.5px solid black;
    border-radius: 100%;
    font-weight: 400;
}

.footer__title__text {
    display: inline-block;
    color: white;
    /*font-weight: bold;*/
}

.footer__title__text__main-title {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}

.footer__title__text__subtitle {
    font-size: 10px;
}

.footer__social-networks {
    margin-top: 80px;
    margin-left: 170px;
}

.footer__social-networks__main {
    display: block;
    text-decoration: none;
    width: 30px;
    margin-top: 10px;
}

.footer__social-networks__main img:hover {
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}