@font-face {
    font-family: RopaSans; /* Имя шрифта */
    src: url(../fonts/RopaSansRegular.ttf); /* Путь к файлу со шрифтом */
}

body{
    margin: 0;
    padding: 0;
}

.header__text__title {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 60px;
    font-weight: 400;
}

.header__text__subtitle {
    margin: 0;
    font-weight: bold;
}

@media screen and (max-width: 1100px) {
    .header__img {
        margin-left: 50px;
        margin-right: 20px;
    }
    .header__text__title{
        font-size: 40px;
    }
}

.blockButton a{
    display: inline-block;
    text-align: center;
    font-size: 30px;
    width: 23%;
    padding: 1%;
    text-decoration: none;
}


.blockButton .category{
    float: left;
}

.blockButton .category .circle{
    padding: 1% 4% 1% 4%;
    border-radius: 100%;
}

.blockButton .adminControl{
    float: right;
}

.line{
    height: 1px;
}



/* STRUCTURE */
.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
    padding: 30px;
}

@media screen and (max-width: 980px) {
    .content .column {
        margin-bottom: 5px;
        flex-basis: 40%;
    }
    .columns .column:nth-last-child(2) {
        margin-right: 0;
    }
    .content .column:last-child {
        flex-basis: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 680px) {
    .content .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}

.content .column .image img{
    height: 150px;
}

.content .column .name{
    text-align: center;
    margin-top: 2px;
    font-size: 25px;
}

.content .column .info{
    padding: 10px;
    margin-top: 15px;
}

.content .column .info .left,
.content .column .info .right{
    width: 50%;
}

.content .column .info .right img{
    width: 100%;
}

.content .column .description{
    padding: 5px 10px 10px;
}

.content .column .footerElement{
    margin-top: 20px;
}

.light .content .column .footerElement a.left{
    display: inline-block;
    padding: 10px 40px 10px 40px;
}

.content .column .footerElement a{
    text-decoration: none;
    float: left;
}

.content .column .footerElement .right{
    float: right;
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px 0 10px;
    font-size: 20px;
}


@font-face {
    font-family: RopaSans; /* Имя шрифта */
    src: url(../fonts/RopaSansRegular.ttf); /* Путь к файлу со шрифтом */
}

body{
    margin: 0;
    padding: 0;
}


.header__text__title {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 60px;
    font-weight: 400;
}

.header__text__subtitle {
    margin: 0;
    font-weight: bold;
}


.blockButton a{
    display: inline-block;
    text-align: center;
    font-size: 30px;
    width: 23%;
    padding: 1%;
    text-decoration: none;
}


.blockButton .category{
    float: left;
}

.blockButton .category .circle{
    padding: 1% 4% 1% 4%;
    border-radius: 100%;
}

.blockButton .adminControl{
    float: right;
}

.line{
    height: 1px;
}



/* STRUCTURE */
.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
    padding: 30px;
}

@media screen and (max-width: 980px) {
    .content .column {
        margin-bottom: 5px;
        flex-basis: 40%;
    }
    .columns .column:nth-last-child(2) {
        margin-right: 0;
    }
    .content .column:last-child {
        flex-basis: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 680px) {
    .content .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}

.content .column .image img{
    height: 150px;
}

.content .column .name{
    text-align: center;
    margin-top: 2px;
    font-size: 25px;
}

.content .column .info{
    padding: 10px;
    margin-top: 15px;
}

.content .column .info .left,
.content .column .info .right{
    width: 50%;
}


.content .column .info .right {
}

.content .column .info .right img{
    width: 150px;
    float: right;
}

.content .column .description{
    padding: 5px 10px 10px;
}

.content .column .footerElement{
    margin-top: 20px;
}

.light .content .column .footerElement a.left{
    display: inline-block;
    padding: 10px 40px 10px 40px;
}

.content .column .footerElement a{
    text-decoration: none;
    float: left;
}

.content .column .footerElement .right{
    float: right;
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px 0 10px;
    font-size: 20px;
}


.footer__first {
    grid-area: footerTitle;
    display: grid;
    grid-row-gap: 40px;
    grid-template-areas:
    "first"
    "second";
}

.footer__first__title {
    grid-area: first;
    margin-left: 50px;
    margin-top: 20px;
}

.footer__first__title__text__main-title {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}

.footer__first__title__text__subtitle {
    font-size: 10px;
}

.footer__first__admin-panel {
    grid-area: second;
    margin-left: 50px;
}

.footer__second-menu {
    grid-area: footerMenu;
    margin-top: 10px;
}


.footer__second-menu__elems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer__third {
    grid-area: footerSocial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}

.footer__third__options__option {
    width: 100px;
    padding-right: 0;
}

.footer__third__options__option__images {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.footer__third__options__option__images__image {
    width: 40px;
}

.footer__third__social-networks__links {
    display: inline-block;
    margin-top: 55px;
}

.footer__third__social-networks__links__main {
    display: block;
    text-decoration: none;
    width: 30px;
    margin-top: 10px;
}


.controlElement{
    text-align: center;
}

.controlElement table{
    display: inline-block;
    text-align: left;
    font-size: 30px;
}

.controlElement table td{
    padding-left: 20px;
    padding-right: 20px;
}

.controlElement table tr:last-child{
    vertical-align: top;
}

.deleteBlock{
    text-align: right;
}

.deleteBlock hr{
    display: block;
}

.controlTable div{
    display: inline-block;
}

.blockLeft__controlTable{
    width: 70%;
    padding-left: 2%;
}

.blockRight__controlTable{
    float: right;
    text-align: center;
    padding-top: 10px;
    width: 27%;
}

.controlTable .blockLeft__controlTable table{
    display: inline-block;
    text-align: left;
    font-size: 30px;
}

.controlTable .blockLeft__controlTable td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}

.notFound{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}


.filter img{
    width: 27px;
    vertical-align: middle;
    margin-right: 10px;
}

.filter .blockLeft__filter,
.filter .blockRight__filter{
    display: inline-block;

}

.filter .blockRight__filter .blocksInput{
    display: inline-block;
}

.filter .blockLeft__filter input{
    width: 100px;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
}

.filter .blockRight__filter span.click{
    cursor: pointer;
}

.filter .blockRight__filter .changed{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.infoGoods .image img{
    width: 70%;
}

.infoGoods .font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 40px;
}

.infoGoods .name{
    text-align: center;
    font-weight: 330;
}

.infoGoods .information{
    padding: 10px 50px 50px;
    font-size: 30px;
}


.infoGoods .price{
    display: block;
    margin: 30px 50px 0 0;
    font-size: 30px;
    float: right;
}


.content_card__block__second__img__text__imge{
    width: 100%;
}

.content_card__block__second__img{
    padding: 10px 10px 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.infoCompany{
    font-size:30px;
    padding: 50px;
}